.users-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msg-btn {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    color: white;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: fit-content;
    padding: 5px 30px;
}
.msg-btn:hover {
    background-color: #1877f2;
}
