.owner-chat-theme {
    background-color: #1877f2;
    border: none;
    border-radius: 20px;
    align-self: flex-start;
    font-size: 2rem;
    color: white;
    padding: 10px;
    max-width: 60%;
}

.friend-chat-theme {
    background-color: #303030;
    border: none;
    border-radius: 20px;
    align-self: flex-end;
    font-size: 2rem;
    color: white;
    padding: 10px;
    max-width: 60%;
}

.date-stamp {
    font-size: 0.8rem;
    color: white;
    text-align: end;
    width: 100%;
    opacity: 0.8;
}
