.owner-chat-theme {
    background-color: #1877f2;
    border: none;
    border-radius: 20px;
    align-self: flex-start;
    font-size: 2rem;
    color: white;
    padding: 10px;
}

.friend-chat-team {
    background-color: #303030;
    border: none;
    border-radius: 20px;
    align-self: flex-end;
    font-size: 2rem;
    color: white;
    padding: 10px;
}
