.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
    padding: 20px;
    width: max-content;
    align-self: center;
    border-radius: 20px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.account-settings {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-form {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
}

.form-btn {
    color: white;
    background-color: #1877f2;
    font-size: 1rem;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.errors-newPassword {
    color: white;
    background-color: red;
    padding: 5px;
}
