.homepage-title {
    text-align: center;
    color: white;
    font-size: 3rem;
}
.homepage-title2 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}
.homepage-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: grey;
    max-width: max-content;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.homepage-message {
    color: wheat;
    font-size: 2rem;
    align-self: center;
}
