.register-form {
    width: max-content;
    background-color: white;
    margin: 0px auto;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.register-form::before {
    content: "Create an account";
    text-align: center;
    font-size: 1.5rem;
    color: #242526;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: 1.5rem;
    gap: 20px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    /* border: none; */
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    /* border: none; */
}
.register-button {
    border: none;
    background-color: #0082fc;
    padding: 10px 100px;
    border-radius: 10px;
    color: #e2e5e9;
    font-size: 1.5rem;
    cursor: pointer;
}

.guest-links {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    padding: 20px;
    gap: 15px;
}

.guest-links a {
    font-size: 1.2rem;
    color: #0082fc;
}
.guest-links p {
    font-style: italic;
    font-size: 1.2rem;
}
