.msg-title {
    align-self: center;
    color: white;
    font-size: 3rem;
    opacity: 0.8;
}
.send-msg-btn {
    border: none;
    background-color: #0082fc;
    padding: 10px 100px;
    border-radius: 20px;
    color: #e2e5e9;
    font-size: 1.5rem;
    cursor: pointer;
}
.new-message {
    align-self: center;
    height: max-content;
    width: 30%;
}
.msg-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.current-chat {
    align-self: center;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.msg-form {
    border-radius: 20px;
}
